* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(rgba(85, 85, 85, 0.37), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1597266028934-0f9a87d80850");
    background-size: cover;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 1.5;
    color: white;
}

h1, h2 {
    margin-bottom: 15px;
}

section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

/* section:nth-child(4) {
    margin-top: 70px;
} */
nav {
    position:relative;
}

.navbar {
    color: #fff;
    height: 65px;
    
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;

}

.navbar a:hover, .navbar a:focus{
    border-bottom: 2mm ridge#499b4a;
    transform: 2s ease-in;
}

.navbar .logo {
    font-size: 35px;
    font-weight: bold;
    color:#fff;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Header section */

.header {
    color: #fff;
    min-height: 300px;
    margin-bottom: 10px;
}

.hero-text {
    height: 10rem;
    display: block;
} 

.header h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: bold;
}

.header img {
    max-width: 400px;
    height:300px;
    width: 300px;
    margin: 20px 0;
}

button {
    width: 150px;
    height: 40px;
    margin: 10px 0 20px;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    background-color: #499b4a;
}

.header button:hover {
    transform: scale(1.05);
}

.header button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Cards section */
.cards {
    height: 40vh;
    margin-bottom: 50px;
}
.cards .container {
    display: flex;
    justify-content: space-between;
    color: white;
}

.card {
    flex: 1;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 7px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.card img {
    max-width: 100%;
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);

    border-radius: 20px;
    transition: 0.5s all;
    transform: scale(1);
}

.card img:hover {
    transform: scale(1.01);
}

/* Quote by Carl Sagan */
.quote .container {
    display: flex;
    flex-direction: column;
    /* padding: 0 10px; */
    margin: 100px 0 30px;
    padding: 15px;
}

.quote .container h2 {
    text-align: right;
}

/* SUbscribe to newsletter */
.sign-up .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-text {
    font-size: 20px;
}

.sign-up .container .sign-up-btn {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    background-color: #499b4a;
}

/* Footer */
footer {
    text-align: center;
}

footer p {
    padding: 10px 0 10px;
}

footer a {
    color:#499b4a;
    text-decoration: none;
}

