* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(rgba(85, 85, 85, 0.37), rgba(0, 0, 0, 0.7)), url(img/marijuana.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 1.5;
    color: white;
}

h1, h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
nav {
    position:relative;
}

.navbar {
    color: #fff;
    /* background: #eee; */
    height: 65px;
    
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
    
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.navbar .logo {
    font-size: 35px;
    font-weight: bold;
    color:#fff;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* position: fixed; */ */
    /* top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 2px 2px #e8e8e8; */
}

.header {
    color: #fff;
    min-height: 300px;
    /* background-color: rgb(147, 146, 146); */
    height: 350px;
}

.hero-text {
    height: 10rem;
    display: block;
} 

.header h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: bold;
}

.header img {
    max-width: 400px;
    height:300px;
    width: 300px;
    margin: 20px 0 0 0;
}

.header button {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    /* border-radius: 10px; */
    border: none;
    cursor: pointer;
    background-color: #499b4a;
}

.header button:hover {
    transform: scale(1.05);
}

.header button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards .container {
    display: flex;
    justify-content: space-between;
    color: white;
}

.card {
    flex: 1;
    width: 350px;
    height: 300px;
    margin: 20px;
    border-radius: 7px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.card img {
    max-width: 100%;
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s all;
    transform: scale(1);
}

.card img:hover {
    transform: scale(1.01);
}

/* Quote by Carl Sagan */
.quote .container {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}

.quote .container h2 {
    text-align: right;
}

/* Footer */
footer {
    text-align: center;
}

footer p {
    padding: 10px 0 10px;
}

footer a {
    color:#499b4a;
    text-decoration: none;
}

